@layout('clients.master')

@section('body')
  <section class="max-w-xl mx-auto py-20">
    <div class="flex items-center">
      <div class="ml-6">
    </div>
    <div class="mt-16">
      </div>
   </div>
  </section>
@endsection
